
html {
	font-size: 16px;
	margin: 0;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	padding-bottom: 10px;
}

h3 {
	font-size: 1.5rem;
	font-weight: 500;
}
/*header*/

.header-desktop {
	display: flex;
	position: fixed;
	height: 4rem;
	width: 100%;
	z-index: 5;
	background-color: white;
	align-items: center;
	justify-content: space-between;
}

.header-mobile {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 4rem;
	z-index: 5;
	position: fixed;
}

.header-mobile .mobile {
	display: none;
	width: 25%;
	z-index: 5;
	text-align: center;
}

.logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 5px;
}

.logo img {
	height: 3rem;
	width: auto;
}

.logo span {
	font-size: 2rem;
}

#colmar {
	font-weight: 800;
}

nav {
	margin: 0 24px;
}

nav span {
	margin-left: 1rem;
}

/*mobile view*/

@media only screen and (max-width: 480px) {
	
	.header-desktop {
		display: none;
	}

	.header-mobile {
		display: flex;
	}

	#colmar #academy {
		display: none;
	}

	.header-mobile .mobile {
		display: block;
	}
}

/*banner*/

section {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: auto;
	justify-content: flex-start;
	background-color: grey;
	padding-top: 64px;
}

.big-media {
	display: block;
	padding: 2rem 1.5rem;
	width: 60%;
	height: auto;
}

.banner-content {
	width: 30%;
	height: auto;
	margin: auto 0;
}

.btn {
	display: block;
	background-color: black;
	max-width: 300px;
	height: auto;
	text-align: center;
	color: white;
	padding: 0.5rem;
	margin: 2rem 0;
	position: relative;
}

.btn a {
	padding: 0.5rem auto;
}

/*mobile*/

@media only screen and (max-width: 480px) {

	section {
		justify-content: center;
		flex-direction: column;
	}

	section .big-media {
		min-width: 100%;
		height: auto;
		padding: 0;
	}

	.banner-content {
		display: block;
		width: 100%;
		height: auto;
		padding: 2rem 1rem;
		margin: 0 auto;
	}

	.banner-content h3 {
		margin: 1.5rem auto;
	}

	.btn {
		margin: 2rem 1rem;
	}
}

/*information*/

article {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-height: auto;
}

.information-main {
	display: block;
	width: 60%;
	border-right: 1px solid grey;
	overflow: hidden;

}

.information-main span {
	display: block;
	margin: 0 auto;
	padding-top: 2rem;
}

.information-main img {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	padding: 2rem 1.5rem;
}
/*
#quote {
	font-weight: 400;
}*/

aside {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	width: 40%;
	height: auto;
}

aside .img-mobile {
	display: none;
	width: 95%;
	height: auto;
	margin: 0 auto;
}

.info-side p {
	display: block;
	width: 100%;
}

.info-side h3 {
	margin-bottom: 0.5rem;
}

.info-side {
	display: flex;
	justify-content: center;
	width: auto;
	border-bottom: 1px solid lightgrey;
}

.info-side .img-desktop {
	width: 35%;
	height: auto;
	display: flex;
	margin: 0;
	float: left;
	padding: 1rem;
}