
html {
	font-size: 16px;
	margin: 0;
	height: 100%;
	font-family: "roboto", sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	padding-bottom: 10px;
	font-family: "oswald", sans-serif;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	font-family: "oswald", sans-serif;
}

h3 {
	font-size: 1.5rem;
	font-weight: 550;
	font-family: "oswald", sans-serif;
}
/*header*/

.header-desktop {
	display: flex;
	position: fixed;
	height: 4rem;
	width: 100%;
	z-index: 5;
	background-color: white;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid lightgrey;
}

.header-mobile {
	display: none;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 4rem;
	z-index: 5;
	position: fixed;
}

.header-mobile .mobile {
	display: none;
	width: 25%;
	z-index: 5;
	text-align: center;
}

.logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 5px;
}

.logo img {
	height: 3rem;
	width: auto;
}

.logo span {
	font-size: 2rem;
}

#colmar {
	font-weight: 800;
}

nav {
	margin: 0 24px;
}

nav span {
	margin-left: 1rem;
	border-radius: 5px;
	padding: 0.5rem;
}

/*hover animation only on desktop*/

@media only screen and (min-width: 500px) {
	nav span:hover {
	background-color: #5585d1;
	transition: background-color 600ms ease;
	}
}

/*mobile view*/

@media only screen and (max-width: 480px) {
	
	.header-desktop {
		display: none;
	}

	.header-mobile {
		display: flex;
	}

	#colmar #academy {
		display: none;
	}

	.header-mobile .mobile {
		display: block;
	}
}

/*banner*/

section {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: auto;
	justify-content: flex-start;
	background-color: lightgrey;
	padding-top: 64px;
}

.big-media {
	display: block;
	padding: 2rem 1.5rem;
	width: 60%;
	height: auto;
}

.banner-content {
	width: 30%;
	height: auto;
	margin: auto 0;
}

.btn {
	display: block;
	background-color: grey;
	max-width: 300px;
	height: auto;
	text-align: center;
	color: white;
	padding: 0.5rem;
	margin: 2rem 0;
	border-radius: 5px;
}

.btn a {
	padding: 0.5rem auto;
}

/*hover animation only on desktop*/

@media only screen and (min-width: 500px) {
	.btn:hover {
	background-color: #5585d1;
	transition: background-color 600ms ease;
	}
}

/*mobile*/

@media only screen and (max-width: 480px) {

	section {
		justify-content: center;
		flex-direction: column;
	}

	section .big-media {
		min-width: 100%;
		height: auto;
		padding: 0;
	}

	.banner-content {
		display: block;
		width: 100%;
		height: auto;
		padding: 2rem 1rem;
		margin: 0 auto;
	}

	.banner-content h3 {
		margin: 1.5rem auto;
	}

	.btn {
		margin: 2rem 1rem;
	}
}

/*information*/

article {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-height: auto;
}

.information-main {
	display: block;
	width: 60%;
	border-right: 1px solid grey;
	overflow: hidden;

}

.information-main span {
	display: block;
	margin: 1.5rem 2rem;
	line-height: 2rem;
}

.information-main img {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: block;
	padding: 2rem 1.5rem;
}

#quote {
	font-weight: 600;
}

.side {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	max-width: 40%;
	height: auto;
}

.info-side .img-mobile {
	display: none;
	max-width: 95%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.info-side p {
	display: block;
	width: 100%;
}

.info-side h3 {
	margin-bottom: 0.5rem;
}

.info-side {
	display: flex;
	justify-content: center;
	width: auto;
	border-bottom: 1px solid lightgrey;
}

.info-side .img-desktop {
	width: 35%;
	height: auto;
	display: flex;
	margin: 0;
	float: left;
	padding: 1rem;
}

.info-text {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 100%;
	margin: auto 0;
}

.info-text span {
	color: blue;
}

/*hover animation only on desktop*/

@media only screen and (min-width: 500px) {
.info-side:hover {
	background-color: lightgrey;
	transition: background-color 600ms ease;
}
}

/*mobile view*/

@media only screen and (max-width: 480px) {
	.side {
		flex-direction: column;
		padding: 1rem 0;
		max-width: 100%;
	}
	.info-text {
		max-width: 100%;
		height: auto;
		margin: 1rem;
	}
	.information-main {
		display: none;
	}
	.img-desktop {
		display: none;
	}
	.img-mobile {
		display: block;
	}
	.info-side {
		display: block;
		overflow: hidden;
		margin: auto 0;
		min-width: 95%;
	}
	.info-side h3 {
		margin-top: 0;
		margin-bottom: 0.25;
	}
	.info-side p {
		margin: 0.5rem;
	}
}

/*courses*/

.courses {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	background-color: lightgrey;
}

.course-title {
	display: block;
	width: 100%;
	margin: auto 0;
	text-align: center;
}

.course-cards {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.course-container {
	display: inline-block;
	width: 25%;
	height: auto;
	margin: 1rem;
	overflow: hidden;
	background-color: white;
}

.course-text {
	display: inline-block;
	min-height: 150px;
	margin: 1rem 0 1.5rem 1.5rem;
}

.course-text h3 {
	margin: 1rem 0;
}

.course-text h5 {
	margin: 0.5rem 0;
}

/*hover animation only on desktop*/

@media only screen and (min-width: 500px) {
	.course-container:hover {
	background-color: #5585d1;
	transition: background-color 600ms ease;
	}
}

/*mobile view*/

@media only screen and (max-width: 480px) {
	.courses {
		padding-bottom: 2rem;
		border-bottom: 1px solid grey;
		background-color: white;
	}
	.course-cards {
		flex-direction: column;
	}
	.course-container img, .course-container h5, .course-container p {
		display: none;
	}
	.course-container {
		display: block;
		width: 95%;
		margin: 0.25rem 1rem;
		text-align: center;
		border-bottom: 1px solid grey;
		background-color: lightgrey;
	}
	.course-text {
		min-height: auto;
	}

}

/*thesis*/

.thesis {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.thesis-title {
	display: block;
	width: 100%;
	height: auto;
	margin: auto 0;
	text-align: center;
	padding: 1rem;
}

.video {
	display: block;
	width: 55%;
	overflow: hidden;
	padding: 0 0.5rem 1.5rem 1.5rem;
	border-right: 1px solid lightgrey;
}

.video span {
	display: block;
	margin: 0 auto;
	padding-top: 2rem;
	line-height: 1.5rem;
}

.thesis-side {
	width: 35%;
	height: auto;
	margin-left: 1rem;
}

.thesis-cards {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: auto;
}

.thesis-cards img {
	display: inline-block;
	width: 35%;
	height: auto;
	float: left;
}

.thesis-text {
	display: inline-block;
	width: 50%;
	height: 100%;
	margin: 2rem 1rem;
	padding: auto 1.5rem;
	line-height: 1.5rem;
}

.thesis-text p {
	display: block;
	width: 100%;
	margin: 0 auto;
} 

/*hover animation only on desktop*/

@media only screen and (min-width: 500px) {
	.thesis-cards:hover {
	background-color: lightgrey;
	transition: background-color 600ms ease;
	}
}

/*mobile view*/

@media only screen and (max-width: 480px) {
	.video span {
		display: none;
	}
	.thesis-side {
		display: none;
	}
	.video {
		width: 100%;
		padding: 0;
	}
	.video video {
		width: 100%;
		height: auto;
	}
}

/*footer*/

footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem 1.5rem 2rem 1.5rem;
	border-top: 1px solid lightgrey;
}

footer .links {
	padding: 0 1rem;
}

.links a {
	margin: 0 1rem;
}

/*mobile view*/

@media only screen and (max-width: 480px) {
	footer {
		margin-top: 1.5rem;
		padding: 1rem 1rem;
	}
	footer .links {
		display: none;
	}
}